@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto; /* enable scrolling */
  scrollbar-width: none; /* Firefox */
}

#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

